

.calculator{
     background-color:#d9d9d9;
     width: 14.2rem;
     height:23rem;
     padding:10px 10px 0;
     position: fixed;
    border-radius: 8px;
    box-shadow:4px 8px 34px #999999, inset -1px -6px 10px 3px #89847e;
}
button{
  font-family: 'Patrick Hand', cursive;
  font-size: 25px;
  border-radius: 15px;
  border-style: none;
  margin: 4px;
  height: 40px;
  width: 45px;
  background-color: #686868;
  color: #cccabf;
  box-shadow: 1px 4px 3px #3f3f3f, inset -1px -6px 12px 0.4px #272626 ;
  }

img{
  position: relative;
  top: 2.5px;
  right: 0.5px;

}

button:active{
  transform: translateY(3px);
}
.logo{
  font-family: 'Gotu', sans-serif;
  font-size: 1.3rem;
  color: black;
  padding: 0 0 0 1px;
}

.red-button{
  background-color: #A93226;
  text-align: bottom;
  color: black;
}

.symbol{
  background-color:#3f3f3d ;
  color:black;
  font-weight: 1000px;

}

.screen{
  font-size: 1.3rem;
  font-family: 'Orbitron', sans-serif;
  background-color: #6b7b6e;
  border-radius: 4px;
  text-align: right;
  width: 13.6rem;
  margin: 0;
  padding: 0 3px;
}

.answer{
  height: 1.9rem;
  padding:3px 3px;
  border-style: none none dotted;
  border-width: 0.9px;
}

.entry{

   padding: 0 3px;
   padding-top: 3px;
 }

.buttons{
  padding: 4px;
  padding-left: 2px;
  padding-bottom: 2px;
  padding-right: 0;
  margin: 0;
}

.Hover:hover{
  background:linear-gradient(to bottom, #378de5 5%, #79bbff 100%);
  background-color:#378de5;
}


.zero{
  position: absolute;
  width: 6.4rem;
}
.equal{
  position: absolute;
  left: 11.5rem;
  padding-top: 1.7rem;
  padding-bottom: 3.7rem;
  background: #e2e2d3;
  color: black;
  font-weight: bold;
}

.logo2{
  font-size: 0.65rem;
}

/*
.divide{
  background-color: #3EEE21;
}
.times{
  background-color: #ECE635;
}
.sub{
  background-color: #EC3577;
}
.add{
  background-color: #3558EC;
}
*/

@media screen and (min-width: 50px) {
  .calculator{
      position: absolute;
      left:45%;
  }
}

.AC{
  grid-area: "AC";

}
.CE{
  grid-area: "CE";

}
.div{
  grid-area: "div";
}
.sev{
  grid-area: "sev";
}
.mul{
  grid-area: "mul";
}
.eig{
  grid-area: "eig";
}
.nin{
  grid-area: "nin";
}
.min{
  grid-area: "min";
}
.fou{
  grid-area: "fou";
}
.fiv{
  grid-area: "fiv";

}
.six{
  grid-area: "six";
}
.add{
  grid-area: "add";
}
.one{
  grid-area: "one";
}
.two{
  grid-area: "two";
}
.thr{
  grid-area: "thr";
}
.eq{
  grid-area: "eq";

}
.zer{
  grid-area: "zer";

}
.dec{
  grid-area: dec;

}

.container{
  display: grid;
  grid-template-areas:
  "AC CE div mul"
  "sev eig nin min"
  "fou fiv six add"
  "one two thr eq"
  "zer zer dec eq";
  grid-gap: 5px;
}
